body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

.sidebar {
    width: 30%;
    flex-grow: 1;
    background-color: #f3f3f3;
    float: left;
}

.navbar {
    padding: 20px;
    background-color: #ccc;
}

.button-container {
    display: flex;
    justify-content:  center;
}

.navbar button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #0056b3;
}

#room-list {
    padding: 20px;
}

.room-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.room-item:hover {
    background-color: #ccc;
}

.room-name {
    border-bottom: 3px solid black;
    font-size: 40px;
    padding: 5px;
    margin-bottom: 10px;
    height: fit-content;
    width: 67.5%;
    margin: 0;
    position: fixed;
    top: 0;
}

.chat-window {
    width: 70%;
    height: 100%;
    flex-grow: 1;
    padding: 5px 20px 5px 20px;
    overflow-y: auto;
    background-color: #fff; /* Fondo blanco para el área de chat */
    align-self: flex-end; /* Colocar el chat en la parte inferior */
}

.message-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: calc(100vh - 110px); /* Ajustar la altura máxima del chat */
}

.message {
    padding: 8px 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 70%;
    word-wrap: break-word;
}

.username {
    font-size: 12px;
    color: #000000;
}

.sent {
    background-color: #007bff;
    width: fit-content;
    color: white;
    text-align: right;
    margin-left: auto;
    padding: 5px 10px;
    border-radius: 10px;
}

.received {
    background-color: #f0f0f0;
    width: fit-content;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

.message-input {
    width: calc(100% - 80px);
    padding: 5px;
    margin-bottom: 10px;
}

.send-button {
    width: 60px;
    padding: 5px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #0056b3;
}

.admin {
    color: gold; /* Cambiar el color del nombre del administrador */
}
